<div class="layout-topbar">

  <a href="#" class="layout-menubutton" [ngClass]="{'layout-menubutton-active': app.menuActive}"
    (click)="app.onMenuButtonClick($event)">
    <div class="layout-menubutton-icon"></div>
  </a>

  <div class="layout-topbar-grid">
    <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">
      <a href="#" class="layout-logo">
        <img src="assets/layout/images/logo.png" style="height: 40px;" alt="logo" />
      </a>
    </div>

    <div class="layout-topbar-grid-column">
      <app-menu></app-menu>
    </div>

    <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">
      <button pButton pRipple type="submit" (click)="logout()">
        <i class="pi pi-sign-out"></i>
        <span>Log out</span>
      </button>
    </div>
  </div>
</div>